doctype html
head
  title Error Page not found
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/main.css')
  link(rel='stylesheet' href='/main.dark.css')
  script(src='../js/main.js')
  style.
    @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
.navbar
  a(href='/main') Home
  a(href='/contact') Order
  a(href='/testimonies') Testimonies
  a(href='/admin/contactlog') Order Log
  a#theme-toggle(href='') Dark Mode
h1 404 Page Not Found
p
  | If you would like to buy some of my snake oil 
  a(href='/main') click here
  |  to return to the main page.
