doctype html
head
  title Error Page not found
  meta(charset='UTF-8')
  script(src='../js/main.js')
include navbar
h1 400 Error Something Went Wrong
p
  | If you would like to buy some of my snake oil 
  a(href='/main') click here
  |  to return to the main page.
