doctype html
head
  title The Snake Oil Salesman
  meta(charset='UTF-8')
  script(src='/js/main.js')
include navbar
#salesBanner
h1 The Snake Oil Salesman
h2 It does anything and everything
img(src='/images/salesman.jpg' alt='The Snake Oil Salesman')
.content
  p
    | What is the most important resource to humanity right now? 
    strong Oil
    | , and what is the most abundant resource, 
    em Snakes
    | .
  p
    | Our Service puts oil in your hands from the snakes in ours. What does it do? Who knows but you should buy it anyway!
  ol
    li 5ml of Snake Oil
    li Gallon of Snake Oil
    li Barrel of Snake Oil
    li Please I have so much Snake Oil I can&apos;t get rid of it just take it from me
