link#dark-theme(rel='stylesheet' href='/css/main.dark.css')
link#light-theme(rel='stylesheet' href='/css/main.css')
style.
    @import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
.navbar
    a(href='/main') Home
    a(href='/contact') Order
    a(href='/testimonies') Testimonies
    a(href='/admin/contactlog') Order Log
    a#theme-toggle(href='') Dark Mode