doctype html
head
  title Success
  meta(charset='UTF-8')
  script(src='../js/main.js')
include navbar
h1 You Have Successfully Bought Snake Oil!
p
  | If you would like to buy more 
  a(href='/main') click here
  |  to return to the main page.
