doctype html
head
  title Testimonials
  meta(charset='UTF-8')
  script(src='../js/main.js')
include navbar
h1 Customer Reviews!
iframe(src='https://www.youtube.com/embed/XZBeOHN_XWI' title='The Greatest Snake Oil Salesman of All Time: The Story of Peruna' allowfullscreen='' style='border: hidden')
.allreviews
  .review
    p.review-body What am I supposed to do with this.
    p.reviewer-name Tom P
  .review
    p.review-body
      | I bought so much of it and now I can sell it myself, if you&apos;d like to join up you can become a seller too.
      | Just ask 5 friends to join and sell snake oil too and you can become your own boss.
    p.reviewer-name Definitely not a pyramid scheme
  .review
    p.review-body It certainly is Snake Oil.
    p.reviewer-name My Mom
  .review
    p.review-body There are more Expensive things to waste your money on.
    p.reviewer-name My Dad
  .review
    p.review-body
      | Please cut your losses this is such a waste of money you won&apos;t ever be able to make it back.
      | Please just come home the kids miss you they need their father, I can&apos;t raise them myself.
    p.reviewer-name My Lovely Wife
